	<ul style="margin-top: 20px;" id="websitesList">
		<% _.each(websites, function (website, i) {
			var websiteId = website.id ? website.id : website.cid;
		 %>
			<li id="<%= websiteId%>" class='website slideToRight'>
				<a href="#websites/<%= websiteId %>" class="linkTab">
					<%= website.get('infos').name %> : 
					<em><%= website.get('infos').url %></em>
				</a>
				<div class="website-actions">
					<button class='btn add-zone-button' adversify-id='<%= websiteId%>'>Add a zone to this website</button>
					<button class='btn btn-warning edit-website-button' adversify-id='<%= websiteId%>'>Edit</button>
					<button class='btn btn-danger delete-website-button' adversify-id='<%= websiteId%>'>Delete</button>
				</div>
				<form class='well edit-website-form' style='display:none;margin-top:20px'>
				    <legend>Edit this website<button adversify-id='<%= websiteId %>' class='pull-right btn btn-inverse close-edit-website-form'>Close</button></legend>
					<fieldset class="website-general-fieldset website-fieldset">
						<input type='text' name="name" class='websitename' placeholder='Website name' value='<%= website.get('infos').name %>'/><br/>
						<input type='text' name="url" class='websiteurl' placeholder="Website's URL" value='<%= website.get('infos').url %> '/><br/>
						<input type='text' name="twitter" class='websitetwitter' placeholder="Website's Twitter Account @YourWebsite" value=''/><br/>
						<input type='text' name="fanpage" class='websitefanpage' placeholder="Website's Facebook Fanpage" value=''/><br/>
				    	<input type="text" value="" name="hashtag" class="websitehashtag" placeholder="Social #hastag" />
				    	<br/>
					</fieldset>
					<button class='btn btn-success submit-edit-website-form' adversify-id='<%= websiteId %>'>Save</button>
				</form>
				<form class='well add-zone-form' style='display:none;margin-top:20px'>
				    <legend>Add a zone to this website<button adversify-id='<%= websiteId %>' class='pull-right btn btn-inverse close-add-zone-form'>Close</button></legend>
					<input type='text' name="name" class='zonename' placeholder='Zone name' value=''/><br/>
					<button class='btn btn-success submit-add-zone-form' adversify-id='<%= websiteId %>'>Save</button>
				</form>
				<ul>
					<% if(website.get('zones') && website.get('zones').length > 0) {
							_.each(website.get('zones'), function(zone, index) {
								var zoneId = zone._id;
					%>
								<li id="<%= zoneId %>" class="websiteZone">
									<a adversify-id='<%= zoneId %>' href="#websites/zones/<%=zone.Id%>"><%=zone.name%></a>
									<div class='zone-actions'>
										<button adversify-zone-id='<%= zoneId %>' class='btn btn-small btn-info preview-zone-button'>Preview</button>
										<button adversify-id='<%= zoneId %>' class='btn btn-small btn-warning edit-zone-button'>Edit</button>
										<button adversify-id='<%= zoneId %>'class='btn btn-small btn-danger delete-zone-button'>Delete</button>
									</div>
									<div class="zone-preview-container hide">
										<div class="zone-preview" style="border:1px solid red;">
											Zone preview container
										</div>
									</div>
									<form class='well edit-zone-form' style='display:none;margin-top:20px'>
									    <legend>Edit this zone<button adversify-id='<%= zoneId %>' class='pull-right btn btn-inverse close-edit-zone-form'>Close</button></legend>
									    <fieldset class="text-zone-fieldset zone-fieldset pull-right" style="display:none;">
				    				    	<legend>Text based Zone</legend>
								        	<input adversify-zone-id="<%= zoneId %>" name="design.bordercolor" class="colorpicker bordercolorpicker fifthWidth" type="color" value="" />
								        	<input class="colorPickerTextInput bordercolorinput" type="text" placeholder="Border Color. Click to edit.">
								        	<input adversify-zone-id="<%= zoneId %>" name="design.contentcolor" class="colorpicker contentcolorpicker fifthWidth" type="color" value="" />
								        	<input class="colorPickerTextInput contentcolorinput" type="text" placeholder="Color of the content. Click to edit.">
								        	<input adversify-zone-id="<%= zoneId %>" name="design.backgroundcolor" class="colorpicker backgroundcolorpicker fifthWidth" type="color" value=""/>
								        	<input class="colorPickerTextInput backgroundcolorinput" type="text" placeholder="Background Color. Click to edit.">
									    </fieldset>
								        <fieldset class="ad-provider-fieldset zone-fieldset pull-right" style="display:none">
									    	<legend>Acceptable Ad Fallback</legend>
								            <textarea class="adProviderScript" name="adProviderScript" placeholder="Place here the JavaScript code given by your ad provider.It should look like this:
								            <script>...</script>"></textarea>
								        </fieldset>
								        <fieldset class="general-zone-fieldset zone-fieldset">
				    				    	<legend>General Settings</legend>
											<input type='text' name="name" class='zonename' placeholder='Zone name' value='<%= zone.name %>'/><br/>
											<select class="zoneremuneration" name="options.remuneration">
									            <option value="">CPC or CPM?</option>
									            <option value="cpc" <%= (zone.zoneOptions && zone.zoneOptions.remuneration === 'cpc') ? 'selected' : '' %>>CPC</option>
									            <option value="cpm" <%= (zone.zoneOptions && zone.zoneOptions.remuneration === 'cpm') ? 'selected' : '' %>>CPM</option>
									            <option value="*" <%= (zone.zoneOptions && zone.zoneOptions.remuneration === '*') ? 'selected' : '' %>>Nevermind</option>
											</select><br/>
									        <select class="zonetype" name="options.type" adversify-zone-id="<%= zoneId %>">
									            <option value="">Image or Textual?</option>
									            <option value="image" <%= (zone.zoneOptions && zone.zoneOptions.type === 'image') ? 'selected' : '' %>>Image</option>
									            <option value="text" <%= (zone.zoneOptions && zone.zoneOptions.type === 'text') ? 'selected' : '' %>>Textual</option>
									            <option value="*" <%= (zone.zoneOptions && zone.zoneOptions.type === '*') ? 'selected' : '' %>>Nevermind</option>
									        </select><br/>
									        <select class="zonedimensions" name="design.dimensions">
									            <option value="">How big?</option>
									            <option value="300x233" <%= (zone.design.dimensions === '300x233') ? 'selected' : '' %>>300x233</option>
									            <option value="234x60" <%= (zone.design.dimensions === '234x60') ? 'selected' : '' %>>234x60</option>
									            <option value="125x125" <%= (zone.design.dimensions === '125x125') ? 'selected' : '' %>>125x125</option>
									            <option value="180x150" <%= (zone.design.dimensions === '180x150') ? 'selected' : '' %>>180x150</option>
									            <option value="120x130" <%= (zone.design.dimensions === '120x130') ? 'selected' : '' %>>120x230</option>
									            <option value="200x200" <%= (zone.design.dimensions === '200x200') ? 'selected' : '' %>>200x200</option>
									            <option value="233x233" <%= (zone.design.dimensions === '233x233') ? 'selected' : '' %>>233x233</option>
									    	</select>
				    				    	<legend>Services</legend>
	    									<label>
	    										AdBlock+ fallback.
										    	<input type="checkbox" zone-id="<%= zoneId %>" class="js-zone-fallback zoneservice" name="zoneservice" value="fallback" <%= (zone.zoneOptions && zone.zoneOptions.services &&  zone.zoneOptions.services.adblockFallback && zone.zoneOptions.services.adblockFallback.enabled) ? 'checked' : '' %>/>
											</label>
	    									<label>
	    										Google Analytics analysis.
										    	<input type="checkbox" zone-id="<%= zoneId %>" class="js-zone-ganalytics zoneganalytics" name="zoneservice" value="ganalytics" <%= (zone.zoneOptions && zone.zoneOptions.services &&  zone.zoneOptions.services.googleAnalytics && zone.zoneOptions.services.googleAnalytics.enabled) ? 'checked' : '' %>/>
											</label>
	    									<label>
	    										Contextual smart ad serving.
										    	<input type="checkbox" zone-id="<%= zoneId %>" class="js-zone-contextual zonecontextual" name="zoneservice" value="contextual" <%= (zone.zoneOptions && zone.zoneOptions.services &&  zone.zoneOptions.services.crawling && zone.options.services.crawling.enabled) ? 'checked' : '' %>/>
											</label>
								        </fieldset>
										<button class='btn btn-large btn-success submit-edit-zone-form' adversify-id='<%= zoneId %>'>Submit changes</button>
									</form>
								</li>
					<%
							}); 
						}	
					%>
				</ul>
			</li>    	
		<% }); %>
	</ul>