.slideFromRight{
	position:absolute;right:-100%;top:0;transition: all 0.5s linear;
}

.slideToRight {
	position:relative;right:0;top:0;transition: all 0.5s linear;
}

.fullWidth {
	width:100%;
}

.fullHeight {
	height:100%;
}

.marginAuto {
	margin: 0 auto;
}


.midWidth {
	width:49.9%;
}

.ad-fieldset, .website-fieldset, .zone-fieldset {
	width:45%;
}


.vsmallMarginLeft {
	margin-left: 4px;
}

.fifthWidth {
	width:20% !important;
}


.ad-fieldset input, .ad-fieldset textarea, .ad-fieldset select,
.website-fieldset input, .website-fieldset textarea, .website-fieldset select,
.zone-fieldset input, .zone-fieldset textarea, .zone-fieldset select {
	width:100%;
}

.zone-fieldset textarea.adProviderScript {
	height:100px;
}

.colorPickerTextInput {
	width:70% !important;
	margin-left:5px;
	float:right;
}

input[type="checkbox"] {
	width:auto;
}

.colorpicker {
	float:left;
}

.ad-provider-fieldset {
	clear:right;
}

.edit-zone-form {
	height:420px;
}